.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  body {
    padding-top: 4px;
  }
  
  h2 {
    text-align: center;
    color: purple;
  }
  
  h3 {
    color: white;
  }
  
  li {
    color: grey;
    margin: 12px;
  }
  
  hr.new1 {
    border-top: 1px dashed grey;
  }
  
  .button-edits {
    background-color: yellowgreen;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
  }
  
  .card-width {
    color: rgb(16, 13, 13);
    padding: 20px;
    margin: 30px;
  }
  
  .create-post {
    margin-top: 0;
  }
  
  .edit-button {
   
    background-color: #b54389; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .delete-button {
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .cancel-button {
    position: absolute;
    top: 545px;
    left: 90px;
  }
  
  .cancel-update-button {
    position: absolute;
    top: 545px;
    left: 160px;
  }
  
  .button-css:active {
    transform: translateY(3px);
  }
  
  .button-css:focus {
    outline: 0;
  }